body {
    background: linear-gradient(to bottom, #333333, #1a1a1a); /* Gris oscuro a gris más oscuro para el fondo principal */
    color: #fff;
}

.container {
    display: flex;
}

.infoProd,
.infoUser,
.formulario {
    border: 2px solid #fff;
    width: 48%;
    background: linear-gradient(to bottom, #333333, #1a1a1a); /* Efecto metalizado para los contenedores */
    color: #fff;
    padding: 20px;
    margin: 10px;
}

.formulario {
    padding: 20px;
}

.formulario input,
select {
    width: 100%;
    margin-top: 20px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
}

.botones {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

/* Estilo para los botones */
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: linear-gradient(to bottom, #5b5a5a, #1a1a1a); /* Efecto metalizado para los botones */
    color: #fff;
    transition: background-color 0.3s;
}

/* Efecto al pasar el cursor sobre los botones */
button:hover {
    background: linear-gradient(to bottom, #1a1a1a, #5b5a5a);
}

/* Estilo específico para los botones en .botones */
.botones button {
    flex: 1;
    margin: 0 5px;
}

.quantity-container {
    display: flex;
    align-items: center;
}

.quantity-btn {
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(to bottom, #555555, #1a1a1a); /* Efecto metalizado para los botones de cantidad */
    color: #fff;
    transition: background-color 0.3s;
}

/* Efecto al pasar el cursor sobre el botón de cantidad */
.quantity-btn:hover {
    background: linear-gradient(to bottom, #1a1a1a, #555555);
}
